/*
 * @author: mario preishuber
 * @created: oct 8th, 2014
 */
@charset "utf-8";
@font-face {
  font-family: font_ligth;
  src: url('../fonts/sansation_light.woff');
}   
 @font-face {
  font-family: font_bold;
  src: url('../fonts/sansation_bold.woff');
}

html {
  position: relative;
  min-height: 100%;
}
body { 
  font: 14px/20px 'font_ligth';
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
strong {
 font: 14px/20px 'font_bold';
}

section { 
  padding-top: 70px; 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}








/*
.unbold { font-weight:normal; }
.me {
  background-color: rgba(127, 173, 2, 0.28);
  margin: 0;
  margin-bottom:15px;
}
.well {
  margin: 0 !important;
  margin-bottom:15px !important;
}*/

