/*
 * @author: mario preishuber
 * @created: oct 8th, 2014
 */
@charset "utf-8";

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 300;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

section { 
  padding-top: 70px; 
}

#cv_html {
  padding-top: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.page-header h1,
.page-header h4,
.navbar-brand,
footer {
  font-family: 'Indie Flower', sans-serif;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  color:#aaa;
}
